/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/05/2014, 12:05:21 AM
    Author     : oskar
*/ 
body{
    color: #68737F;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.grid-view {
    .button-column{ 
        width: 53px !important; 
    }
}

#list-auth-items .row {
    margin-left: 5px;
}

.nav-tabs > li, .nav-pills > li{
    float: none !important;
}


.navbar-inverse .navbar-inner{
    padding-top: 13px;
    background:url(../images/iconos/icono-fondo-menu.png) repeat;
}

.navbar-inverse .brand {
    background:url(../images/logo2.png) no-repeat;
    padding-bottom: 44px;
    padding-left: 117px;

}

.navbar .nav{
    height: 67px; 
    margin-top: -13px;
}

.navbar .nav > li{
    display: block;
    height: 100%;
}
.navbar .nav > li > a{
    padding: 25px 16px 22px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    text-transform: uppercase;
    font: larger sans-serif;
    font-weight: 900;
}
.navbar .nav li a{
    color: whitesmoke;
}
.navbar .nav li.active a{
    color: #005580;
    background-color: #A3A3A3;
    /* RGBa with 0.6 opacity */ 
    background: rgba(38, 63, 69, 0.6);
}

.menu_ingreso.menu_entrar > a, .menu_salir >a,  .menu_usuarios > a{
    margin: -31px;
    font: larger sans-serif; font-weight: normal !important;
}

.navbar .nav li.active{
    /* Fallback for web browsers that doesn't support RGBa */

}

.menu_entrar{
    padding-left: 28em;
    padding-top: 11px !important;
}

.menu_salir{
    padding-left: 16em;
    padding-top: 11px !important;
}
.menu_usuarios{
    padding-left: 3em;
    padding-top: 11px !important;
}

.breadcrumb{
    margin: 23px 0 20px;
}

#titulos-cabecera{
    color: #0088CC;

}

.linea-titulo div{
    background-image: url(../images/iconos/icono-linea1.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 4px;
    position: relative;
}
.linea-titulo  hr{
    margin-top: -3px;
}


#lista-archivos {
    margin-top: -64px;
}

#lista-archivos .summary{
    color: #0088CC;
    font-weight: bold;
}

#page {
    border: none;
}
#footer{
    border: none;
    position:fixed;
    bottom:0;
    width:97%;
    height:34px;            /* Altura del footer */
    background-color:#CDCDCD;
    font-weight: bold;
}

#content {
    margin-bottom: 3em;
    
}
.seccion-1{
    background-image: url(../images/iconos/linea2.png);
    background-repeat: no-repeat;
    background-position: right top;
}

div.view {
    border: none;
}

#lista-archivos .items{
    margin-top: 36px;
}

#lista-archivos .items table tr td{
    vertical-align:top;
    padding: 0;
    margin: 0
}

#menu-lateral{
   
/*    height: 468px;
    padding-left: 13px;*/
}

.listas_asignacion{
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    border: 3px solid #858285; 
    padding: 5px;
}