assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/config/main.php
.gitignore
data/attachment
index.php
!/protected/views/noticia/index.php
!/protected/views/indicadores/index.php